@font-face {
    font-family: "norseBold";
    src: url(/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container{
    display: flex;
    height: 100vh;
    /* width: 80vw; */
    margin: auto;
}

.background{
    background-image: url(/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 30vw;
}
.content{
    flex:1;
}


.logo{
    margin-top: 20vh;
    padding: 0.5rem;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.606);
    display: flex;
    justify-content: center;
}
.logo h1{
    
    color: white;
    font-family: "norseBold";
    font-size: 6rem;
}
.logo img{
   height: 7rem;
}
.content{
    background-color: #f9fafb; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.content>*{
   padding-left: 30px;
   margin-top: 30px;
}
.content *{
    border-radius: 4px;
}


#user-registration{
    background-color: white;
    box-shadow: 0px 4px 4px 0px #c3c3c3;
   
}

.content button{
    background-color: #596D48;
    color: white;
    border: none;
    font: inherit;
    /* font-size: inherit;
    font-weight: inherit; */
    height: 2em; 
    padding: 0 2em;
    
}
